server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/nginx/tls/cert.pem;
  ssl_certificate_key /etc/nginx/tls/key.pem;
  ssl_protocols TLSv1.3;
  ssl_prefer_server_ciphers off;
}
