node_modules
coverage
dist
nginx/tls/*
!nginx/tls/.gitkeep
nginx/templates/*.conf
demos/**/*.html
!demos/npm/src/index.html
!demos/react/src/index.html
!demos/index-nocookies.html
!demos/index.html

.wakatime-project
.vscode/
