node_modules
lib/dist/
demos/react/dist
demos/npm/dist
browser/dist/

demos/vanilla/nocookies/targeting/*.html
demos/vanilla/nocookies/*.html
demos/vanilla/targeting/*.html
demos/vanilla/*.html
demos/integration/*.html
