name: Building SDK and demos

on:
  workflow_call:
    inputs:
      version:
        description: "Version to be build"
        required: true
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  build-web:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Patch build.json version
        run: ./scripts/patch-version.sh "${{ inputs.version }}"

      - name: Build web production
        run: pnpm build-web --mode=production

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-web
          path: browser/dist/**/*
          retention-days: 1

  build-lib:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Patch build.json version
        run: ./scripts/patch-version.sh "${{ inputs.version }}"

      - name: Transpile lib
        run: pnpm build-lib

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-lib
          path: lib/dist/**/*
          retention-days: 1

  build-vanilla-demo:
    runs-on: ubuntu-22.04
    env:
      # The ref_name (tag) is not relevant when it runs on something other than a tag so we use latest
      SDK_URI: https://cdn.optable.co/web-sdk/${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'latest' }}/sdk.js
      DCN_HOST: ca.edge.optable.co
      DCN_SITE: web-sdk-demo
      DCN_NODE: optable
      DCN_LEGACY_HOST_CACHE: sandbox.optable.co
      DCN_INIT: "true"
      UID2_BASE_URL: ${{ vars.UID2_BASE_URL }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build vanilla demo
        run: make demo-html

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-demo-vanilla
          path: demos/**/*.html
          retention-days: 1

  build-react-demo:
    needs: [build-lib]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download web artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-lib
          path: lib/dist

      # SDK has a dependency on third-party js-sha256, we need to install node_modules in the root directory
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Setup pnpm react demo
        uses: ./.github/actions/setup-pnpm-demos-react

      - name: Build react demo
        run: pnpm --prefix demos/react run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-react-demo
          path: demos/react/dist/**/*
          retention-days: 1

  build-npm-demo:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm demos npm
        uses: ./.github/actions/setup-pnpm-demos-npm

      - name: Build npm-demo
        run: pnpm --prefix demos/npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-npm-demo
          path: demos/npm/dist/**/*
          retention-days: 1
