name: Linting and testing
on: workflow_call

jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Test
        run: pnpm test

  prettier:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Run prettier
        run: pnpm format

      - name: Check if prettier changed files
        run: git diff --exit-code || (echo "ESLint fixed some files. Please commit the changes." && exit 1)
