name: Building SDK and demos
on: workflow_call

jobs:
  build-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build web production
        run: npm run build-web -- --mode=production

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-web
          path: browser/dist

  build-lib:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Transpile lib
        run: npm run build-lib

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-lib
          path: lib/dist

  build-vanilla-demo:
    runs-on: ubuntu-latest
    env:
      # The ref_name (tag) is not relevant when it runs on something other than a tag so we use latest
      SDK_URI: https://cdn.optable.co/web-sdk/${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'latest' }}/sdk.js
      ADS_HOST: ads.optable.co
      ADS_REGION: ca
      ADS_SITE: 4fe7c1ce-7c7d-4718-a0b8-5195e489319f
      DCN_HOST: sandbox.optable.co
      DCN_SITE: web-sdk-demo
      DCN_ID: optable
      DCN_INSECURE: "false"
      DCN_INIT: "true"
      UID2_BASE_URL: https://operator-integ.uidapi.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build vanilla demo
        run: make demo-html

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-demo-vanilla
          path: demos/**/*.html

  build-react-demo:
    needs: [build-lib]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demos/react
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download web artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-lib
          path: lib/dist

      - name: Cache dependencies
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-${{ hashFiles('package-lock.json') }}

      # SDK has a dependency on third-party js-sha256, we need to install node_modules in the root directory
      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: |
          cd ../../
          npm ci

      - name: Cache react demo dependencies
        id: cache-node-modules-react-demo
        uses: actions/cache@v4
        with:
          path: demos/react/node_modules
          key: node-react-demo-${{ hashFiles('demos/react/package-lock.json') }}

      - name: Install react demo dependencies
        if: steps.cache-node-modules-react-demo.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build react demo
        run: npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-react-demo
          path: demos/react/dist/**/*

  build-npm-demo:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demos/npm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache npm-demo dependencies
        id: cache-node-modules-npm-demo
        uses: actions/cache@v4
        with:
          path: demos/npm/node_modules
          key: node-npm-demo-${{ hashFiles('demos/npm/package-lock.json') }}

      - name: Install npm-demo dependencies
        if: steps.cache-node-modules-npm-demo.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build npm-demo
        run: npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-npm-demo
          path: demos/npm/dist/**/*
